@import url("https://fonts.googleapis.com/css?family=Montserrat:700,900&subset=cyrillic");

body {
	background-image: url("20092.jpg");
	background-size: cover;
}

h1 {
	display: flex;
	justify-content: center;
	margin: 10%;
	font-family: "Montserrat", sans-serif;
	font-size: 3em;
	font-weight: 500;
	color: #fff;
}




.form {
  position: relative;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.form_input,
.form_textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 16px;
  padding: 8px 16px;
  transition: transform 0.3s ease-out;
  color: red;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
}

.form_input::-webkit-input-placeholder,
.form_textarea::-webkit-input-placeholder {
  opacity: 0.6;
  color: red;
}

.form_input:focus,
.form_textarea:focus {
  transition: transform 0.3s ease-out;
  transform: scale(1.02, 1.02);
}

.form_textarea {
  resize: none;
}

.form_button {
  display: inline-block;
  padding: 12px 32px;
  transition: all 0.3s ease-out;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: violet;
  background-clip: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  font-weight: 700;
}

.form_button:hover {
  transition: all 0.3s ease-out;
  transform: scale(1.02, 1.02);
  box-shadow: rgba(255, 255, 255, 0.3) 0 0 16px 2px;
}

